*{
    font-family: "Noto Sans JP", sans-serif;
}
body{
    background-color: rgb(228, 247, 255);
}
#minuteStr {
    /* color: #ff0000; */
    font-size: 20px;
    text-align: left;
    position:absolute; top:210px; 
    left:10px; right:10px;
}

#secondStr {
    /* color: #ff0000; */
    font-size: 10px;
    text-align: left;
    position:absolute; top:250px; 
    left:10px; right:10px;
    overflow-wrap: break-word;
}

#remain {
    /* color: #ff0000; */
    font-size: 20px;
    text-align: center;
    position:absolute; top:310px; 
    left:10px; right:10px;
}

#time {
    /* color: #ff0000; */
    font-size: 20px;
    text-align: center;
    position:absolute; top:340px; 
    left:10px; right:10px;
    box-shadow: 5px 5px 5px #999;
    width: 50%;
    margin: 0 auto;
}
#time::after{
    content: "ç§’";
}


#mycanvas {
    color: #ffffff;
    /* font-size: 40px; */
    text-align: center;
    position:absolute; top:10px; 
    left:10px; right:10px;
}

button{
    /* color: blue; */
    /* font-family: Times; */
    border-radius: 20px;
}
#btnA {
    font-size: 20px;
    position:absolute; top:380px; left:0%; width:33%; height:60px; 
    /* background-color: yellow; */
}

#btnB {
    font-size: 20px;
    position:absolute; top:380px; left:33%; width:33%; height:60px; 
}

#btnC {
    font-size: 20px;
    position:absolute; top:380px; left:66%; width:33%; height:60px; 
}

#remain{
    font-weight: bold;
}
#minute {
    font-size: 30px;
    position:absolute; top:450px; left:60px; width:80px; height:40px;   
}

#second {
    font-size: 30px;
    position:absolute; top:450px; left:190px; width:80px; height:40px;   
}

input[type=number] {text-align: right;}


.preset_icons{
    width: 100px;
}
#preset{
    position:absolute; top:580px;
}
#pre